# Force Git à toujours utiliser LF (Unix) pour les scripts Bash
*.sh text eol=lf

# (Optionnel) Tu peux aussi le forcer pour d'autres fichiers sensibles aux retours à la ligne
*.yaml text eol=lf
*.yml text eol=lf